SPACETIMEDB_HOST=http://localhost:3000
SPACETIMEDB_MODULE=stellar-state-k7z98
FLASK_HOST=http://localhost:5001
OLLAMA_HOST=http://localhost:11434
CHROMADB_PATH=./chromadb_data
GEMINI_API_KEY=AIzaSyCFHT2gG-3e0ZDwc1jjlUQOSkftDM8NfYE
NEXT_PUBLIC_SPACETIMEDB_URL=ws://localhost:3000
NEXT_PUBLIC_SPACETIMEDB_MODULE=stellar-state-k7z98
NEXT_PUBLIC_FLASK_URL=http://localhost:5001
